<div class="dashboard-container">

  <div class="top-bar">
    <h1>CarX Marketplace</h1>

   <div class="actions">
  <button class="profile-btn" *ngIf="isLoggedIn" (click)="goToProfile()">My Profile</button>
  <button class="post-btn" (click)="goToPost()">Sell Your Car</button>
</div>

  </div>

  <div class="search-filter">
    <input type="text" placeholder="Search by title, model..." [(ngModel)]="searchText" (input)="applyFilter()" />

    <select [(ngModel)]="selectedBrand" (change)="applyFilter()">
      <option value="">All Brands</option>
      <option *ngFor="let b of brands" [value]="b">{{ b }}</option>
    </select>

    <select [(ngModel)]="selectedLocation" (change)="applyFilter()">
      <option value="">All Cities</option>
      <option *ngFor="let loc of locations" [value]="loc">{{ loc }}</option>
    </select>
  </div>

  <div class="car-grid">
    <div class="car-card" *ngFor="let car of cars">

      <div class="image-wrapper">
        <img [src]="car.mainImageUrl || 'assets/default-car.jpg'" alt="Car image" />
        <span class="badge" [ngClass]="car.status">{{ car.status || 'AVAILABLE' }}</span>
      </div>

      <div class="card-content">
        <h3>{{ car.title }}</h3>
        <div class="price">${{ car.price }}</div>

        <div class="car-specs">
          <span>{{ car.year }}</span> •
          <span>{{ car.mileage }} km</span> •
          <span>{{ car.location }}</span>
        </div>

        <button class="view-btn">View Details</button>
      </div>
    </div>
  </div>

  <div class="pagination">
    <button (click)="prevPage()" [disabled]="page === 1">Prev</button>
    <button *ngFor="let p of totalPagesArray()" (click)="setPage(p)" [class.active]="p === page">{{ p }}</button>
    <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
  </div>

</div>
